<div class="form_wrap">
  <span class="modal_close"></span>
  <div class="form_header">
    <h2>Заполните форму</h2>
    <p>Чтобы узнать цену и иналичие данного товара.</p>
    <p>В ближайщее время наш менеджер с вами свяжется.</p>
  </div>
  <%= form_for OnlineForm.new do |f| %>
      <div class="half left cf">
        <%= f.text_field :name, placeholder: 'Ваше имя', required: true  %>
        <%= f.text_field :phone, placeholder: 'Телефон', required: true  %>
        <%= f.email_field :email, placeholder: 'Email', required: true  %>
        <%= f.hidden_field :geo, id: :location %>
        <%= f.hidden_field :ip, value: request.remote_ip %>
      </div>
      <div class="half right cf">
        <%= f.text_area :message, placeholder: 'Сообщение',as: :text  %>
      </div>
      <%= f.submit 'Отправить', id: 'input-submit' %>
  <% end %>
</div>