<title><%= @subcategory.name %> - metal22.ru</title>
<div class="container">
  <div class="row">
    <% unless current_page?(contacts_path) %>
        <%= render partial: 'components/sidebar' %>
    <% end %>
    <div class="content_wrap">
      <div class="content">
        <%= @itemscategory.find_each do |i| %>
            <a href="<%= show_category_subcategory_itemscategory_path(@subcategory.category, @subcategory, i) %>">
              <div class="item">
                <div class="item_image">
                  <%= image_tag i.images.url %>
                </div>
                <div class="item_title">
                  <h4><%= i.name %></h4>
                </div>
                <div class="item_content">
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
