<title><%= @subcategory.name %> со склада в Бийске - ООО"Меркурий"</title>
<div class="container">
  <div class="row">
    <% unless current_page?(contacts_path) %>
        <%= render partial: 'components/sidebar' %>
    <% end %>
    <div class="content_wrap">
      <div class="sub_title">
        <h2>Продукция</h2>
      </div>
      <div class="content">
        <%= @item.find_each do |i| %>
            <a href="#contacts" class="open_modal">
              <div class="item">
                <div class="item_image">
                  <% if i.images? %>
                      <%= image_tag i.images.url %>
                  <% else %>
                      <%= urls_to_images(i.images_url.to_s)%>
                  <% end %>
                </div>
                <div class="item_title">
                  <h4><%= i.title %></h4>
                </div>
                <div class="item_content">
                  <%= i.description %>
                </div>
              </div>
            </a>
        <% end %>
      </div>
      <% if @subcategory.description.present? %>
        <div class="description">
          <%= @subcategory.description.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>

