<div class="container">
  <div class="row">
    <% unless current_page?(contacts_path) %>
        <%= render partial: 'components/sidebar' %>
    <% end %>
    <div class="content_wrap">
      <div class="content">
        <%= @items.find_each do |i| %>
            <div class="item">
              <div class="item_image">
                <% if i.images? %>
                    <%= image_tag i.images.url %>
                    <% else %>
                    <%= urls_to_images(i.images_url.to_s)%>
                <% end %>
              </div>
              <div class="item_title">
                <h4><%= i.metal %></h4>
              </div>
              <div class="item_content">
                <% if i.metal_brand? %>
                    <% unless i.product? %>
                        <h4>Марки</h4>
                        <div class="line"></div>
                        <span><%= i.metal_brand %></span>
                        <div class="line"></div>
                    <% else %>
                        <h4>Продукция</h4>
                        <div class="line"></div>
                        <span><%= i.product %></span>
                        <div class="line"></div>
                        <% if i.metal_brand? %>
                            <h4>Марки</h4>
                            <div class="line"></div>
                            <span><%= i.metal_brand %></span>
                            <div class="line"></div>
                        <% end %>
                    <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
        <div class="button">
          <a href="#contacts" class="open_modal">Узнать цену</a>
        </div>
      </div>
    </div>
  </div>
</div>