<div class="modal_close"></div>
<div class="form_wrap">
  <div class="form_header">
    <h2>Оформление заявки</h2>
    <p></p>
  </div>
  <table id="example2" class="table table_my table-bordered">
    <tbody>
    <%= render(@cart.line_items) %>
    </tbody>
  </table>
  <%= form_for Order.new do |f| %>
      <div class="half left cf">
        <%= f.text_field :name, placeholder: 'Ваше имя', required: true  %>
        <%= f.text_field :phone, placeholder: 'Телефон', required: true  %>
        <%= f.email_field :email, placeholder: 'Email', required: true  %>
      </div>
      <div class="half right cf">
        <%= f.text_area :message, placeholder: 'Сообщение',as: :text  %>
      </div>
      <%= f.submit 'Отправить', id: 'input-submit' %>
  <% end %>
<%= button_to 'Очистить карзину', @cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
</div>