<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Новый материал</h3>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i>Все ок</h4>
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
  <div class="box-body">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-3">
        <%= f.label "Наименование" %>
        <%= f.text_field :title, placeholder: 'Наименование', class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label "Вес" %>
        <%= f.text_field :weight, placeholder: 'Вес', class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label "Еденица" %>
        <%= f.text_field :unit, placeholder: 'Еденица', class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label "Диаметр" %>
        <%= f.text_field :diameter, placeholder: 'Диаметр', class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label "Толщина" %>
        <%= f.text_field :thickness, placeholder: 'Толщина', class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label "Категория товара" %><br>
        <%= f.collection_select :itemscategory_id, Itemscategory.all, :id, :name, {include_blank: true}, class: 'form-control'%>
      </div>
    </div>
  </div>
  </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="box-footer">
          <%= f.submit "Создать материал", class: "btn btn-success btn-lg"  %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box-footer">
          <%= link_to 'Назад', admins_path, class: "btn btn-primary btn-lg", style: "float: right" %>
        </div>
      </div>
    </div>
  </div>
</div>