<title><%= @category.name %> со склада в Бийске - ООО"Меркурий"</title>
<div class="container">
  <div class="row">
    <% unless current_page?(contacts_path) %>
        <%= render partial: 'components/sidebar' %>
    <% end %>
    <div class="content_wrap">
      <div class="content">
        <%= @sub_category.find_each do |s| %>
            <% if find_item(s) %>
            <a href="<%= show_category_subcategory_path(@category, s) %>">
              <div class="item">
                <div class="item_image">
                  <% if s.images? %>
                      <%= image_tag s.images.url %>
                  <% else %>
                      <%= urls_to_images(s.images_url.to_s)%>
                  <% end %>
                </div>
                <div class="item_title">
                  <h4><%= s.name %></h4>
                </div>
                <div class="item_content">
                </div>
              </div>
            </a>
            <% else %>
                <a href="#contacts" class="open_modal">
                  <div class="item">
                    <div class="item_image">
                      <% if s.images? %>
                          <%= image_tag s.images.url %>
                      <% else %>
                          <%= urls_to_images(s.images_url.to_s)%>
                      <% end %>
                    </div>
                    <div class="item_title">
                      <h4><%= s.name %></h4>
                    </div>
                    <div class="item_content">
                    </div>
                  </div>
                </a>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>