<tr data-item-id="<%= line_item.id %>">
  <td><%= line_item.item.title %></td>
  <% if line_item.item.weight.present? %>
      <td class="center"><%= line_item.item.weight %></td>
  <% else %>
      <td class="center">-</td>
  <% end %>
  <% if  line_item.item.diameter.present? %>
      <td class="center"><%= line_item.item.diameter %></td>
  <% end %>
  <td class="center"><%= line_item.item.unit%></td>
  <% if line_item.item.thickness.present? %>
      <td><%= line_item.item.thickness %></td>
  <% end %>
  <td><%= line_item.quantity %></td>
  <td><%= link_to 'Удалить', line_item_path(line_item), method: :delete, remote: true,  calss: 'del' %></td>
</tr>

