<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="keywords" content="Меркурий Бийск, цветной металлопрокат бийск, бронза, алюминий, РТИ, АТИ, полимеры, по выгодным ценам Бийск, металлопрокат в бийске цены">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', async %>
  <%= javascript_include_tag 'application', async %>
  <%= javascript_include_tag 'jquery.orbit-1.2.3', async %>
  <script async src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
  <%= javascript_include_tag 'mail' %>
  <meta name="viewport" content="initial-scale=0, maximum-scale=1, user-scalable=no">
</head>
<body>
<section class="header">
  <div class="header_wrap">
    <div class="company_info">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="desc">
        <div class="raspisanie">
          <div class="clock">
            <span>График работы:</span><br>
            <span>Пн-Пт с 9<sup>00</sup>-17<sup>00</sup></span>
          </div>
          <div class="adress"><a href="<%= contacts_path %>" >Алтайский край г. Бийск<br>ул. Пугачева, д. 19</a></div>
        </div>
      </div>
      <div class="contacts">
        <div class="tel_wrap">
          <a href="tel:+73854315232" class="tel"><sup>+7(3854)</sup><b>31-52-32</b></a>
        </div>
        <div class="tel_wrap">
          <a href="tel:+73854315232" class="tel"><sup>+7(3854)</sup><b>31-64-50</b></a>
        </div>
        <div class="tel_wrap">
          <a href="tel:+73854315232" class="mobile">+7(903)949-33-40</a>
        </div>
      </div>
      <div class="btn_call">
        <a href="#contacts" class="call open_modal">Обратный звонок</a>
        <a href="<%= feedback_path %>" class="online">Online - заявка</a>
        <a href="mailto:metal7@rambler.ru" class="mail">metal7@rambler.ru</a>
      </div>
    </div>
  </div>
  <div class="menu">
    <ul class="menu_list">
      <li class="menu_item"><a href="/">Главная</a></li>
      <li class="menu_item"><a href="<%= company_info_path %>">О компании</a></li>
      <li class="menu_item"><a href="<%= products_path %>">Продукция</a></li>
      <li class="menu_item"><a class="partner" href="#partner">Партнеры</a></li>
      <li class="menu_item"><a href="<%= feedback_path %>">Обратная связь</a></li>
      <li class="menu_item"><a href="<%= news_path %>">Новости</a></li>
      <li class="menu_item"><a href="<%= contacts_path %>">Контакты</a></li>
    </ul>
  </div>
</section>
<section class="main">
  <% if current_page?(root_path) %>
      <section class="slide_info">
        <%= render partial: 'components/slider' %>
      </section>
  <% end %>
  <%= yield %>
  <div id="contacts" class="modal_div">
    <%= render template: 'call_backs/new' %>
  </div>
  <div id="online" class="modal_div">
    <%= render 'online_forms/online_form' %>
  </div>
  <div id="overlay"></div><!-- Пoдлoжкa, oднa нa всю стрaницу -->
</section>
<section class="pre_footer" id="partner">
  <div class="pre_wrap">
    <div class="row">
      <div class="title">
        <h2>Наши партнеры:</h2>
      </div>
      <div class="partner">
        <a href="http://www.mechel.ru/"><img src="/assets/mechellogo.jpg" alt=""></a>
        <a href="http://shvabe.com/"><img src="/assets/shvabe.png" alt=""></a>
        <a href="http://www.russteels.ru/"><img src="/assets/russteels.png" alt=""></a>
        <a href="http://www.kuzocm.ru/"><img src="/assets/kuzocm.png" alt=""></a>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="company_info">
    <div class="copy">
      <div class="copyrighting">Меркурий, 2000-2020</div>
      <div class="copy_item">Все права защищены</div>
    </div>
    <div class="address"><div class="address_item"><a href="<%= contacts_path %>">Алтайский край г. Бийск<br>ул. Пугачева, д. 19</a></div></div>
    <div class="phone">
      <div class="tel"><a href="tel:+73854315232"><sup>+7(3854)</sup><b>31-52-32</b></a></div>
      <div class="mail"><a href="mailto:metal7@rambler.ru">metal7@rambler.ru</a></div>
    </div>
    <div class="creater">
      <div class="informer">
        <a href="//www.liveinternet.ru/click"
           target="_blank"><img src="//counter.yadro.ru/logo?13.6"
                                title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
                                alt="" border="0" width="88" height="31"/></a>
      </div>
    </div>
  </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42874099 = new Ya.Metrika({
                    id:42874099,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/42874099" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>